<p id="notice"><%= notice %></p>

<h1>Курсы</h1>

<%= link_to 'Добавить курс', new_course_path, class: 'btn btn-primary' %>

<table class='table table-borderless'>
  <thead>
    <tr>
      <th colspan="2">Название</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.title, course %></td>
        <td>
          <%= link_to edit_course_path(course) do %>
            <%= fa_icon "pencil" %>
          <% end %>
          <%= link_to course, method: :delete, data: { confirm: 'Are you sure?' }  do%>
            <%= fa_icon "trash" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

